<div class="container mx-auto p-8">
  <h2 class="text-4xl font-semibold mb-4">Showcased Portfolios</h2>
  <table class="min-w-full table-auto">
    <thead>
      <tr>
        <th class="text-white underline px-4 py-2">User</th>
        <th class="text-white underline px-4 py-2">Portfolio Title</th>
        <th class="text-white underline px-4 py-2">Portfolio Type</th>
      </tr>
    </thead>
    <tbody>
      <% @portfolios.each do |portfolio| %>
        <tr>
          <td class="border px-4 py-2"><%= portfolio.user.username %></td>
          <td class="border px-4 py-2"><%= portfolio.title %></td>
          <td class="border px-4 py-2"><%= portfolio.type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
